---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Please visit <a href="{{site.author.googlescholar}}" target="_blank">my Google Scholar profile</a>.</div>
{% endif %}

<ul>
{% include base_path %}

{% assign years = site.publications | map: 'year' | uniq | sort | reverse %}

{% for year in years %}
  <h2>{{ year }}</h2><hr />
  {% for post in site.publications reversed %}
    {% if post.year == year %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}


</ul>